.buttons {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 100px;
  margin: 10px 0;
}

button {
  border-radius: 10px;
  outline-style: none;
  border-style: none;
  // border: 1px solid #cecece;
  background-color: $green;
  color: white;
  padding: 15px;
  box-shadow: 0px 5px 15px $default-gray;
  cursor: pointer;
}

input, select {
  border: none;
  border-radius: 4px;
  height: 30px;
  background: $light-gray;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  font-family: inherit;
}

.error {
  color: $red;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
}

.mainContent {
  max-width: 600px;
  max-height: 800px;
  padding: 25px;
  background-color: white;
  box-shadow: 0px 5px 15px $default-gray;
  border-radius: 10px;
  margin: auto;
  outline-style: none;
  border-style: none;
  align-self: center;
  justify-self: center;
}

.progress-bar {
  width: 400px;
  margin: auto;
	border-radius: 9999px;
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 12px;
	background: $default-gray
}

.progress-bar > div {
	border-radius: 9999px;
	position: absolute;
	height: 100%;
	background-color: $dark-blue;
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

.thankYouContainer {
  h1, h2 {
    margin: 20px 0;
  }

  div {
    font-size: 2.5em;
  }
}

//change font to the notification component
.vt-notification {
  font-family: Avenir, Helvetica, Arial, sans-serif !important;
}